<header class="layout row">
    <div class="logo flex-10"></div>
    <h1 class="flex-10">Thr<span class="b">ones</span></h1>
    <nav class="nav flex-50 layout row">
        <div class="nav-item">我的申请</div>
        <div class="nav-item">申请记录</div>
    </nav>
    <div class="gap"></div>
    <div class="user"></div>
</header>
<main class="layout col">
    <div class="container layout col">
        <!-- 申请表单-->
        <div id="modal" class="functional-module modal layout col">
            <h2 class="modal-title">新建申请</h2>
            <div class="modal-body modal-form layout row-wp " id="addForm">
                <div class="form-unit">
                    <h5>申请类型</h5>
                    <div class="ui-select" id="type">
                        <a href="javascript:void(0)" class="ui-select-trigger"><span></span></a>
                        <ul class="ui-select-content">
                            <li class="ui-select-item" data-value="HIGH">1</li>
                            <li class="ui-select-item" data-value="MEDIUM">2</li>
                            <li class="ui-select-item" data-value="LOW">3</li>
                        </ul>
                    </div>
                </div>
                <div class="form-unit">
                    <h5>申请对象</h5>
                    <div class="ui-select" id="object">
                        <a href="javascript:void(0)" class="ui-select-trigger"><span></span></a>
                        <ul class="ui-select-content">
                            <li class="ui-select-item" data-value="HIGH">4</li>
                        </ul>
                    </div>
                </div>
                <div class="form-unit">
                    <h5>申请内容</h5>
                    <input type="text" class="input" id="content"/>
                </div>
                <div class="form-unit">
                    <h5>申请原因</h5>
                    <input type="text" class="input" id="reason"/>
                </div>
                <div class="form-unit">
                    <h5>备注</h5>
                    <input type="text" class="input" id="comment"/>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- 列表-->
        <div id="list" class="functional-module list layout col">
            <h2>我的申请</h2>
            <div class="content-wrap" id="contentWrap">
                <div id="dataContent" class="data-content">
                    <h4 class="data-title">黄鸟 Thrones 代码权限申请</h4>
                    <div class="data-detail layout row-wp">
                        <span class="department">反欺诈及基础分空</span>
                        <span class="time">2015.04.10 - 2016.44.99</span>
                        <span class="reason">为了部落</span>
                        <span class="type">堡垒机权限申请</span>
                        <span class="comment">进行什么什么什么什么什么发布</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<footer class="layout row">
    <div class="cube dark-1"></div>
    <!--<div class="cube dark-2"></div>-->
    <div class="cube dark-3"></div>
</footer>
<!-- 表单和列表切换按钮-->
<div class="page-switcher-wraper">
    <div id="pageSwitcher" class="page-switcher"></div>
</div>
<script id="test" type="text/html">
    <div id="dataContent" class="data-content">
        <h4 class="data-title">黄鸟 Thrones 代码权限申请</h4>
        <div class="data-detail layout row-wp">
            <span class="department">反欺诈及基础分空</span>
            <span class="time">2015.04.10 - 2016.44.99</span>
            <span class="reason">为了部落</span>
            <span class="type">堡垒机权限申请</span>
            <span class="comment">进行什么什么什么什么什么发布</span>
        </div>
    </div>
</script>