<section class="login-wraper layout row">
    <div class="main-title">
        <h1>THRONES</h1>
        <p>AUTHORITY</p>
    </div>
    <div class="panel layout row-wp">
        <!-- 注册-->
        <div id="add" class="sign-up layout row-wp login-form shadow">
            <div class="form-unit sign-up-unit">
                <h5>用户名</h5>
                <input type="text" class="input" id="username"/>
            </div>
            <div class="form-unit sign-up-unit">
                <h5>密码</h5>
                <input type="text" class="input" id="password"/>
            </div>
            <div class="form-unit sign-up-unit">
                <h5>姓名</h5>
                <input type="text" class="input" id="name"/>
            </div>
            <div class="form-unit sign-up-unit">
                <h5>部门</h5>
                <div class="ui-select" id="dept">
                    <a href="javascript:void(0)" class="ui-select-trigger"><span></span></a>
                    <ul class="ui-select-content">
                    </ul>
                </div>
            </div>
        </div>
        <!-- 登录-->
        <div id="login" class="sign-in layout col-wp login-form">
            <div class="form-unit sign-in-unit">
                <h5>用户名</h5>
                <input type="text" class="input" id="loginusername"/>
            </div>
            <div class="form-unit sign-in-unit">
                <h5>密码</h5>
                <input type="password" class="input" id="loginpassword"/>
            </div>
        </div>
        <div class="button-wraper">
            <button data-operation="login" id="dosSignIn" class="active">SIGN IN</button>
            <button data-operation="add" id="doSignUp">SIGN UP</button>
        </div>

    </div>
</section>