<script src="javascripts/common.js"></script>
{{include '../../control/loader'}}
{{include '../../control/top'}}
<main class="layout col">
    <div class="container layout col">
        <!-- 申请表单-->
        <div id="modal" class="functional-module modal layout col">
            <h2 class="modal-title">新建申请</h2>
            <div class="modal-body modal-form layout row-wp " id="addForm">
                <div class="form-unit">
                    <h5>申请类型</h5>
                    <div class="ui-select" id="auth">
                        <a href="javascript:void(0)" class="ui-select-trigger"><span></span></a>
                        <ul class="ui-select-content">
                            <li class="ui-select-item" data-value="HIGH">1</li>
                            <li class="ui-select-item" data-value="MEDIUM">2</li>
                            <li class="ui-select-item" data-value="LOW">3</li>
                        </ul>
                    </div>
                </div>
                <div class="form-unit">
                    <h5>申请对象</h5>
                    <div class="ui-select" id="auth_detail">
                        <a href="javascript:void(0)" class="ui-select-trigger"><span></span></a>
                        <ul class="ui-select-content">
                            <li class="ui-select-item" data-value="HIGH">4</li>
                        </ul>
                    </div>
                </div>
                <div class="form-unit">
                    <h5>申请内容</h5>
                    <input type="text" class="input" id="content"/>
                </div>
                <div class="form-unit">
                    <h5>申请原因</h5>
                    <input type="text" class="input" id="remark"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="doAddApply" class="button">Apply</button>
            </div>
        </div>
        <!-- 列表-->
        <div id="list" class="functional-module list layout col">
            <h2>我的申请</h2>
            <div class="content-wrap" id="contentWrap">
            </div>
        </div>
    </div>
</main>
<!--<footer class="layout row">-->
    <!--<div class="cube dark-1"></div>-->
    <!--<div class="cube dark-3"></div>-->
<!--</footer>-->
<!-- 表单和列表切换按钮-->
<div class="page-switcher-wraper">
    <div id="pageSwitcher" class="page-switcher" data-button="+"></div>
</div>
{{include './template/r01_list'}}
<script src="javascripts/home.js"></script>

