.in-view {
	animation: MODALIN .35s .3s ease forwards;
	& + #list {
		transform: translate3d(200%, 0, 0);
		animation: LISTOUT .25s ease forwards;
	}
}
.out-view {
	animation: MODALOUT .35s  ease forwards;
	& + #list {
		transform: translate3d(200%, 0, 0);
		animation: LISTIN .35s .3s ease forwards;
	}
}
.pull {
	
}

@keyframes MODALIN {
	0% {
		transform: translate3d(-200%, 0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0,0);
		opacity: 1;
	}
}
@keyframes MODALOUT {
	0% {
		transform: translate3d(0, 0,0);
		opacity: 1;
	}
	100% {
		transform: translate3d(-200%, 0,0);
		opacity: 0;
	}
}
@keyframes LISTIN {
	0% {
		transform: translate3d(200%, 0,0);
		opacity: 0;
	}
	100% {
		transform: translate3d(0, 0,0);
		opacity: 1;
	}
}
@keyframes LISTOUT {
	0% {
		transform: translate3d(0, 0,0);
		opacity: 1;
	}
	100% {
		transform: translate3d(200%, 0,0);
		opacity: 0;
	}
}
@keyframes FLOATING {
	0% {
		transform: translate3d(0, 0%,0);
	}
	55% {
		transform: translate3d(0, -10%,0);
	}
	100% {
		transform: translate3d(0, 0%,0);
	}
}
@keyframes INDETERMINATE {
	0% {
		left: -35%;
		right: 100%;
	}
	60% {
		left: 100%;
		right: -90%;
	}
	100% {
		left: 100%;
		right: -90%;
	}
}
  