/* latin-ext */
@font-face {
	font-family: 'Press Start 2P';
	font-style: normal;
	font-weight: 400;
	src: local('Press Start 2P'), url(/fonts/press-latin-text.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Press Start 2P';
	font-style: normal;
	font-weight: 400;
	src: local('Press Start 2P'), url(/fonts/press-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
	box-sizing: border-box;
	padding: 25px;
	background-color: #fafafa;
}
header, main, footer {
	display: block;
}
header {
	flex: 0 0 60px;
	align-items: center;
	height: 60px;

	.logo {
		height: 25px;
		background: url(/images/logo.png) no-repeat center;
		background-size: auto 100%;
	}
	h1 {
		margin: 0;
		letter-spacing: 1px;
		font-weight: 100;
		font-size: 24px;
		line-height: 1.3;

		.b {
			color: $gr;
		}
	}
	.nav {
		padding-left: 10%;

		.nav-item {
			min-width: 80px;
			width: 14%;
			font-weight: 600;
		}
	}
	.gap {
		flex: 1 1 auto;
	}
	.user {
		align-self: center;
		width: 23px;
		height: 23px;
		background: #333;
	}
}
main {
	position: relative;
	flex-grow: 1;
	overflow: hidden;
	margin-top: 3%;
	margin-bottom: 4.5%;
	padding-left: 15%;

	.container {
		position: relative;
		flex: 1 1 100%;
		overflow: hidden;
		background:transparent url(/images/dot.png) top center;
		&::before {
			content: '';
			position: absolute;
			left: 0;right: 0;top: 0;bottom: 0;
			background: linear-gradient(to right, rgba(250,250,250,.9), rgba(250,250,250,.7),rgba(250,250,250,.1)),linear-gradient(to bottom, rgba(250,250,250,.3), rgba(250,250,250,.2),rgba(250,250,250,.1));
		}
	}
	.functional-module {
		flex: 1 1 100%;
		// background: linear-gradient(to right, rgba(250,250,250,.9), rgba(250,250,250,.7),rgba(250,250,250,.1)),linear-gradient(to bottom, rgba(250,250,250,.3), rgba(250,250,250,.2),rgba(250,250,250,.1));

		h2 {
			flex: 0 1 auto;
			font-weight: 100;
			font-size: 40px;
			line-height: 1;
		}
		.content-wrap {
		    flex: 0 1 80%;
		    overflow-y: auto;
		}
		&.list {
			position: relative;
			will-change: transform;
		}
		&.modal {
			position: absolute;
			top: 0;right: 0;bottom: 0;left: 0;
			will-change: transform;

			transform: translate3d(-100%, 0, 0);
			.modal-body {
				margin-left: 5%;
				// @media screen and (max-width: 700px) {
				//     flex-flow: column wrap!important;
			 //    }
				// justify-content: space-between;
			}
			.modal-footer {
				flex: 1 1 auto;

				&:hover {
					.button {
						height: 100%;
					}
				}
				.button {
				  position: absolute;right: 0;bottom: 0;
				  left: 0;
				  display: block;
				  padding: 0;
				  width: 100%;
				  height: 1px;
				  outline: none;
				  border: 0px #333 solid;
				  background: #333;
				  color: #999;
				  transition: .2s ease-out;

				  &:hover {
				    color: #fff;
				  }
				}
			}
		}
		
	}
	.data-content {
		margin: 1.5% 0 1.5% 5%;
		padding: 5px 0  20px 20px;
		min-width: 70%;
		max-width: 70%;
		cursor: pointer;	
		transition: .2s ease-out;

		@media screen and (max-width: 1100px) {
		    min-width: 90%;
			max-width: 90%;
	    }

		&:first-child {
			margin-top: 0;
		}
		&:hover {
			background: rgba(240,240,240,.9);
		}
		.data-detail {
			color: #666;
			font-size: 13px;

			span {
				margin-right: 13px;
				line-height: 1.2;
			}
		}
		h4 {
			margin: 8px 0;
			font-weight: 100;
			font-size: 23px;
		}
	}
	
	
}
footer {
	color: $gr;

	.cube {
		margin-right: 2px;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
	.dark-1 {
		background: #333;
	}
	.dark-2 {
		background: #666;
	}
	.dark-3 {
		background: #999;
	}
}

.page-switcher-wraper {
	position: absolute;top: 20%;bottom: 0;
	left: 0;
	width: 15%;
	height: 60%;
	background: transparent;
	cursor: pointer;
	overflow: hidden;
	&:hover {
		.page-switcher {
			transform: translateX(0%);	
		}
	}
	.page-switcher {
		position: relative;
		width: 50%;
		top: 10%;
		background: #333;
		height: 80%;
		margin-left: 5px;
		transition: .18s ease-out;
		text-align: center;
		color:#fafafa;
		transform: translateX(-100%);
		&:hover {
			background: #000;
		}
		&::after {
			content: '＋';
			position: absolute;
			top: 50%;left: 0;right: 0;
			transform: translateY(-50%);
			color: #f0f0f0;
		}
	}
}
