.form-unit {
  position: relative;
  flex: 0 1 auto;
  margin-right: 5%;
  padding-bottom: 80px;
  @media screen and (max-width: 600px) {
    flex: 1 1 auto;
    .input, .ui-select {
      width: 100%!important;
    }
  }

  &.warn {
    .input, .ui-select input {
      border-color: $wr;
    }
    &::after {
      display: block;
    }
  }
  &::after {
    position: absolute;
    top: 34%;
    left: 50%;
    font-size: 12px;
    display: none;
    color: $rd;
    content: attr(data-tooltip);
    transform: translateX(-50%);
  }
  &.sign-up-unit {
    flex: 0 1 40%;
    align-items: center;
    margin-right:0;
    padding-bottom: 30px;
    height: auto;

    .input,.ui-select {
      display: block;
      margin: 0 auto;
    }
  }
  &.sign-in-unit {
    flex: 0 1 45%;
    align-items: center;
    margin-right:0;
    padding-bottom: 30px;

    .input,.ui-select {
      display: block;
      margin: 0 auto;
      width: 70%;
    }
  }
  h5 {
    text-align: center;
    font-weight: 100;
    font-size: 16px;
  }
  .input {
    width: 220px;
    height: 40px;
    border: none;
      border-bottom: 2px #333 solid;
      background: transparent;
    color: #444;
      text-align: center;
      font-size: 12px;
      // text-indent: -13px;
      letter-spacing: 1px;
      line-height: 40px;
  }
}
/* ui-select start*/
.ui-select {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 40px;
  color: #444;
  vertical-align: middle;
  font-weight: 100;
  font-size: 14px;
  transition:.2s ease-out;

  .ui-select-input {
    display: block;

    input {
      width: 100%;
      border: none;
      border-bottom: 2px #333 solid;
      background: transparent;
      text-align: center;
      text-indent: -13px;
      letter-spacing: 1px;
      line-height: 40px;
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 0px;
      margin-top: -4px;
      width: 7px;
      height: 7px;
      background: #333;
      content: '';
      transition:transform .2s ease-out;
      will-change: transform;
    }
  }
  .ui-select-content {
    position: absolute;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 200px;
    width: 100%;
    border-right: 2px #333 solid;
    border-bottom: 2px #333 solid;
    border-left: 2px #333 solid;
    opacity: 0;
    transition: .2s ease-out;
    transform: translateY(-100%);

    .ui-select-item {
      box-sizing: border-box;
      // margin-top: 10px;
      border-bottom: 2px transparent solid;
      background: #fafafa;
      color: #444;
      text-align: center;
      text-indent: -13px;
      line-height: 40px;
      cursor: pointer;
      transition: .2s ease-out;
      will-change: transform;

      &:hover {
        // border-bottom: 2px #333 solid;
        background: #333;
        color:#fafafa;
      }
    }
  }
  &.ui-select-down {
    input {
      border-color: transparent;
    }
    .ui-select-input:after {
      background: $gr;
      transform: rotate(135deg);
    }
    .ui-select-content{
      opacity: 1;
      transform: translateY(0);

      &.top {
        transform: translateY(-100%);
      }
    }
  }
}

/* ui-select end*/