
#msg-container {
	position: fixed;
	bottom: 2%;
	left: 2%;
	z-index: 10000;
	display: block;
	max-width: 86%;
	@media screen and (max-width: 777px) {
		top: .4rem;
		right: .4rem;
	}
}

.pop-msg {
	position: relative;
	top: 0;
	z-index: 999999;
	display: none;
	clear: both;
	margin-bottom: 10px;
	padding: 7px 25px;
	max-width: 100%;
	background-color: $bk;
	color: $wt;
	word-break: break-all;
	line-height: 1.5;
	border: 2px $bk solid;
	will-change: margin-top;
}

.pop-msg .pop-msg-text {
	position: relative;
	display: block;
	white-space: pre;
	font-size: 12px;
}


.pop-msg.success {
	background-color: $gr;

}

.pop-msg.warning {
	background-color: $rd;

}

.pop-msg.error {
	background-color: $wr;
}
