*.iml
*.ipr
*.iws
*.ids
.idea/
bin/
node_modules/
package.json
source/
gulpfile.js
shine.css.map
target/
nbproject/
nbactions.xml
nb-configuration.xml
creditcloud.properties
stark.properties
shine.properties
.recommenders/