<script id="listTemplate" type="text/html">
    [[each lists as list]]
    <div class="data-content">
        <h4 class="data-title">[[list.user_name]] [[list.content]] [[list.reason]] </h4>
        <div class="data-detail layout row-wp">
            <span class="auth">[[list.auth_name]]</span>
            <span class="auth_detail">[[list.auth_detail_name]]</span>
            <span class="remarks">[[list.state]]</span>
        </div>
        <div class="comment-wraper" data-applyid="[[list.]]">
            <button class="comment-button doComment">回复</button>
            <textarea class="comment-inputer" placeholder="写在你的评论..."></textarea>
            [[if list.comments]]
                [[each list.comments as comment]]
                    <div class="comment-detail">
                        <span class="name">[[comment.remark_name]]</span>
                        <span class="remark">[[comment.remark]]</span>
                        <span class="time">[[comment.gmt_remark | trueVal]]</span>
                    </div>
                [[/each]]
            [[/if]]
        </div>
    </div>
    [[/each]]
</script>