<!doctype html>
<html lang="zh-CN-Hans">
<head>
    <meta charset="UTF-8">
    <title>{{page}}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script>
        !function () {
            function a() {
                var clientWidth = document.documentElement.clientWidth;
                clientWidth <= 720
                        ? document.documentElement.style.fontSize = (clientWidth / 20) + 'px'
                        : document.documentElement.style.fontSize = 16 + 'px';
            }

            var b = null;
            window.addEventListener("resize", function () {
                clearTimeout(b);
                b = setTimeout(a, 300)
            }, !1);
            a();
        }(window);
    </script>
    <script src="javascripts/bundle.js"></script>
</head>