
<section class="search_section">
    <div class="search_item">
        <select  id="state" class="myselect select2" name="state" placeholder="请选择状态">
            <option></option>
            <option value="-">所有申请</option>
            <option value="0">领导待审批</option>
            <option value="1">安全待审批</option>
            <option value="2">运维待审批</option>
            <option value="-1">领导拒绝</option>
            <option value="-2">安全拒绝</option>
            <option value="-3">运维拒绝</option>
            <option value="3">审核通过</option>
        </select>
    </div>

    <div class="search_item">
        <select  id="department" class="myselect select2" placeholder="请选择部门">
            <option></option>
            <option value="-">所有部门</option>
        </select>
    </div>

    <div class="search_item">
        <select  id="user" class="myselect select2" placeholder="请选择用户">
            <option></option>
            <option value="-">所有用户</option>
        </select>
    </div>

    <div class="search_item">
        <select  id="applytype" class="myselect select2" placeholder="请选择权限类型">
            <option></option>
            <option value="-">所有类型</option>
        </select>
    </div>

    <input type="text" class="minput" name="name" id="search_name" placeholder="关键字搜索" title="可搜索全部申请内容"/>

    <span id="btn_search">搜索</span>
</section>



<table border="0" id="table_list" class="table">
    <thead>
        <th>姓名</th>
        <th>部门</th>
        <th>申请内容</th>
        <th>申请类型</th>
        <th>申请时间</th>
        <th>状态</th>
        <th>最近审批时间</th>
    </thead>

    <tbody id="lists">

    </tbody>
</table>

<div id="pagination">
    <div class="mypage" id="mypage"></div>
</div>



</div>
</div>

{{include './template/apply_list'}}

<script type="text/javascript" src="/scripts/admin/apply.js"></script>