
<section class="search_section">
    <span id="btn_add">添加类型</span>
</section>



<table border="0" id="table_list" class="table">
    <thead>
        <th>名称</th>
        <th>类型</th>
        <th>父类</th>
        <th>操作</th>
    </thead>
    <tbody id="lists">

    </tbody>
</table>

<div id="pagination" style="display: none">
    <div class="mypage" id="mypage"></div>
</div>

</div>
</div>

{{include './template/applytype_list'}}

<script type="text/javascript" src="/scripts/admin/applytype.js"></script>