

<div id="area_user">

    <div class="panel_user R01">
        <p class="panel_title">普通用户</p>
        <p class="panel_digit" id="roleR01">-</p>
    </div>

    <div class="panel_user R02">
        <p class="panel_title">安全专员</p>
        <p class="panel_digit" id="roleR02">-</p>
    </div>

    <div class="panel_user R03">
        <p class="panel_title">运维专员</p>
        <p class="panel_digit" id="roleR03">-</p>
    </div>

    <div class="panel_user R00">
        <p class="panel_title">在线人数</p>
        <p class="panel_digit" id="roleonline">-</p>
    </div>

</div>

<div id="area_daily">
    <div id="statistic"></div>
    <div id="title">近日申请及审核情况统计图</div>
</div>

</div>
</div>


<script type="text/javascript" src="/scripts/admin/dashboard.js"></script>