<div id="osinfo">
    <div class="item_os">
        <label>操作系统</label>
        <label>{{os}}</label>
    </div>
    <div class="item_os">
        <label>release版本</label>
        <label>{{release}}</label>
    </div>
    <div class="item_os">
        <label>运行时间</label>
        <label>{{uptime}}</label>
    </div>
    <div class="item_os">
        <label>总内存</label>
        <label>{{totalmem}}</label>
    </div>
    <div class="item_os">
        <label>可用内存</label>
        <label>{{freemen}}</label>
    </div>
    <div class="item_os">
        <label>主机名称</label>
        <label>{{hostname}}</label>
    </div>
</div>


</div>
</div>