<script id="temp_model_list" type="text/html">
    [[each models as model]]
    <tr>
        <td>[[model.name]]</td>
        <td><span class="code [[model.pid>0?'':'code_red']]">[[model.pid>0?'二':'一']]级分类</span></td>
        <td>[[model.pname?model.pname:'-']]</td>
        <td>
            <a data-id="[[model.id]]" class="item_update_info">修改</a>
            <a data-id="[[model.id]]" class="item_delete_info">删除</a>
        </td>
    </tr>
    [[/each]]
</script>

<!--模态框-->
<!-- 添加信息 -->
<div class="mywindow" id="win_add">
    <div class="mywindow_head">
        <span class="mywindow_title">添加申请类型</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_add_info">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>父类</td>
                        <td>
                            <select  id="pid" class="myselect select2" name="pid" placeholder="请选择">
                                <option></option>
                                <option>一级类型</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>名称</td>
                        <td>
                            <input type="text" class="minput" name="name"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>

        <span class="mywindow_btn mywindow_sure_btn">确定</span>
    </div>
</div>

<!-- 更新信息 -->
<div class="mywindow" id="win_update">
    <div class="mywindow_head">
        <span class="mywindow_title">更新申请类型</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_update_info">
            <table class="table_window">
                <tbody>
                <tr>
                    <td>名称</td>
                    <td>
                        <input type="text" class="minput" name="name" id="update_name"/>
                    </td>
                </tr>
                <tr>
                    <td>负责人</td>
                    <td>
                        <select  id="update_leader" class="myselect select2" name="user_id" placeholder="请选择负责人">
                            <option></option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>
        <span class="mywindow_btn mywindow_sure_btn">确定</span>
    </div>
</div>