<script id="temp_model_list" type="text/html">
    [[each models as model index]]
    <tr>
        <td>[[model.name]]</td>
        <td>[[model.code]]</td>
        <td>
            <a data-id="[[model.id]]" class="item_update_info" data-index="[[index]]">更新</a>
            <a data-id="[[model.id]]" class="item_delete_info">删除</a>
        </td>
    </tr>
    [[/each]]
</script>

<!--模态框-->
<!-- 添加部门信息 -->
<div class="mywindow" id="win_add">
    <div class="mywindow_head">
        <span class="mywindow_title">添加角色</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_add_info">
            <table class="table_window">
                <tbody>
                    <tr>
                        <td>名称</td>
                        <td>
                            <input type="text" class="minput" name="name"/>
                        </td>
                    </tr>
                    <tr>
                        <td>CODE</td>
                        <td>
                            <input type="text" class="minput" name="code"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>

        <span class="mywindow_btn mywindow_sure_btn">确定</span>
    </div>
</div>

<!-- 更新部门信息 -->
<div class="mywindow" id="win_update">
    <div class="mywindow_head">
        <span class="mywindow_title">更新角色</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_update_info">
            <table class="table_window">
                <tbody>
                <tr>
                    <td>名称</td>
                    <td>
                        <input type="text" class="minput" name="name" id="update_name"/>
                    </td>
                </tr>
                <tr>
                    <td>CODE</td>
                    <td>
                        <input type="text" class="minput" name="code" id="update_code"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>

        <span class="mywindow_btn mywindow_sure_btn">确定</span>
    </div>
</div>