<script id="temp_model_list" type="text/html">
    [[each models as model]]
    <tr>
        <td>[[model.name]]</td>
        <td>[[model.username]]</td>
        <td>[[model.department_name]]</td>
        <td>-</td>
        <td>[[model.auth_num]]</td>
        <td><span class="code [[model.role]]">[[model.role_name]]</span></td>
        <td>[[model.gmt_create | dateFormat:'date']]</td>
        <td>
            <a data-id="[[model.id]]" data-index="[[index]]" class="item_update_info">重置信息</a>
            <a data-id="[[model.id]]" data-index="[[index]]" class="item_update_password">重置密码</a>
            <a data-id="[[model.id]]" class="item_delete_info">删除</a>
        </td>
    </tr>
    [[/each]]
</script>

<!--模态框-->
<!-- 更新用户信息 -->
<div class="mywindow" id="win_update_info">
    <div class="mywindow_head">
        <span class="mywindow_title">更新用户信息</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_update_info">
            <table class="table_window">
                <tbody>
                <tr>
                    <td>姓名</td>
                    <td>
                        <input type="text" class="minput" name="name" id="user_name"/>
                    </td>
                </tr>
                <tr>
                    <td>用户名</td>
                    <td>
                        <input type="text" class="minput" name="username" id="user_username"/>
                    </td>
                </tr>
                <tr>
                    <td>部门</td>
                    <td>
                        <select  id="user_department" class="myselect select2" name="department_id" placeholder="请选择部门">
                            <option></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>角色</td>
                    <td>
                        <select  id="user_role" class="myselect select2" name="role" placeholder="请选择角色">
                            <option></option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>

        <span class="mywindow_btn mywindow_sure_btn">确定</span>
    </div>
</div>


<!-- 重置用户密码 -->
<div class="mywindow" id="win_update_password">
    <div class="mywindow_head">
        <span class="mywindow_title">重置<span id="password_user" style="color:#ff6601"></span>密码</span>
        <span class="mywindow_close_btn">✕</span>
    </div>
    <div class="mywindow_body">
        <form id="form_update_password">
            <table class="table_window">
                <tbody>
                <tr>
                    <td>管理员秘钥</td>
                    <td>
                        <input type="text" class="minput" name="key" id="key" placeholder="必须输入正确秘钥才能执行该操作"/>
                    </td>
                </tr>
                <tr>
                    <td>新密码</td>
                    <td>
                        <input type="text" class="minput" name="name" id="new_password"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="mywindow_foot">
        <span class="mywindow_btn mywindow_cancel_btn">取消</span>

        <span class="mywindow_btn mywindow_sure_btn">确定</span>
    </div>
</div>