<!doctype html>
<html lang="zh-CN-Hans">
<head>
    <meta charset="UTF-8">
    <title>{{page}}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1460787240_0293655.css" />
    <link rel="stylesheet" href="/lib/select2/select2.min.css" />
    <link rel="stylesheet" href="/lib/select2/select2.thrones.css" />
    <link rel="stylesheet" href="/lib/pagination/mypage.css" />
    <script src="/lib/require.js"></script>
    <script src="/lib/require_config.js?v=2"></script>
    <script type="text/javascript">
        require(['jquery']);
    </script>
</head>
<body>
    <div id="containers">
        {{include './nav'}}
        <div id="contents">

