<nav id="nav">
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>系统管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/os" data-page="os">系统信息</a></li>
                <li><a href="/admin/dashboard" data-page="dashboard">数据大盘</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-yonghu"></i>用户管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/user/list" data-page="user">用户列表</a></li>
                <li><a href="/admin/role/list" data-page="role">角色管理</a></li>
                <li><a href="/admin/department/list" data-page="department">部门管理</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-shenqingjilu"></i>申请管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/apply/leaderlist" data-page="leaderlist">领导待处理</a></li>
                <li><a href="/admin/apply/safelist" data-page="safelist">安全待处理</a></li>
                <li><a href="/admin/apply/operationlist" data-page="operationlist">运维待处理</a></li>
                <li><a href="/admin/apply/applylist" data-page="applylist">全部申请</a></li>
            </ul>
        </dd>
    </dl>
</nav>  