<nav id="nav">
    <dl>
        <dt class="nav">
            <i class="iconfont icon-xitong"></i>系统管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/dashboard" data-page="dashboard">数据大盘</a></li>
                <li><a href="/admin/os" data-page="os">系统信息</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-yonghu"></i>用户管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/user" data-page="user">用户列表</a></li>
                {{if session.role=="R01"}}
                    <li><a href="/admin/leader" data-page="leader">我的下属</a></li>
                {{/if}}
                <li><a href="/admin/department" data-page="department">部门列表</a></li>
                <li><a href="/admin/role" data-page="role">角色列表</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt class="nav">
            <i class="iconfont icon-shenqingjilu"></i>申请管理
        </dt>
        <dd class="subnav">
            <ul>
                <li><a href="/admin/applytype" data-page="applytype">申请类型</a></li>
                <li><a href="/admin/apply" data-page="apply">申请列表</a></li>
            </ul>
        </dd>
    </dl>
</nav>  